@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
    font-size: 16px;
    font-weight: 400;
    color: #292D33;
    font-family: "Oswald", sans-serif;
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

a {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}


.container-1920 {
    max-width: 1920px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-1680 {
    padding-right: calc((100% - 1440px) / 2 + 15px);
}

.container-1440 {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-1384 {
    max-width: 1384px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-960 {
    max-width: 960px;
    padding: 0 15px;
    margin: 0 auto;
}


/* Header */

.bg-top {
    background-image: url(/images/main/header/bg\ \(1\).png);
    min-height: 970px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 150px;
}

.header {
    position: relative;
    padding-top: 25px;
    padding-bottom: 184px;

}

.burger__menu {
    display: none;
}


.header-link {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    position: relative;
    /*задаём цвет ссылки*/
    cursor: pointer;
    line-height: 1;
    /*задаём высоту строки*/
    text-decoration: none;
    /*убираем подчёркивание*/

}

.header-link::after {
    content: "";
    display: block;
    position: absolute;
    top: 21px;
    left: 0;
    /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;
    /*задаём длинну линии до наведения курсора*/
    height: 3.2px;
    /*задаём ширину линии*/
    border-radius: 50px;
    background-color: #5C8EE5;
    /*задаём цвет линии*/
    transition: width 0.4s ease-out;
    /*задаём время анимации*/
}

.header-link:hover:after,
.header-link:focus:after {
    width: 100%;
    /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}


.logo {
    margin-top: -25px;
}

.header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 93px;
    border: 1px solid #EBEBF033;
}

.header-content {
    display: flex;
    gap: 100px;
    align-items: center;

}

.header-list {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: -25px;

}

.header-nav {
    display: flex;
    align-items: center;
    gap: 246px;
}

.number-header {
    color: #FFFFFF;
    position: relative;
    font-weight: 600;
    font-size: 16px;
    padding-top: 9px;
}

.number-header::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    top: 8px;
    right: 139px;
    background-image: url(/images/main/header/phone.svg);
}

.btn-header {
    display: inline-block;
    padding: 31.5px 50px;
    background-color: #5C8EE5;
    margin-top: -18px;
    color: #FFFFFF;
}

.btns-header {
    display: flex;
    gap: 50px;
}




/* Info */

.main {}

.info-content {

    padding-bottom: 156px;

}


.title-info {
    position: relative;
    font-size: 80px;
    line-height: 120%;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 400;

    color: #FFFFFF;
    padding-bottom: 30px;
}

.title-info::after {
    content: '';
    position: absolute;
    left: 0;
    top: -15px;
    width: 150px;
    height: 2px;
    background-color: #5C8EE5;
}


.text-info {
    max-width: 720px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 50px;
    line-height: 160%;
}

.btn-info {
    color: #FFFFFF;
    padding: 25px 60px;
    background-color: #5C8EE5;
    font-weight: 600;
}

/* Cards-info-work */

.cards-info-work {
    display: flex;
    align-items: center;
}

.img-card-info {
    padding-bottom: 20px;
}

.img-card-info-car {
    padding-bottom: 23px;
}

.img-card-info-speed {
    padding-bottom: 24.5px;
}

.img-card-info-user {
    padding-bottom: 21px;
}

.img-card-info-time {
    padding-bottom: 21px;
}

.img-card-info-client {
    display: none;
    padding-bottom: 21px;

}

.card-info {
    color: #FFFFFF;
    padding: 31px 50px;
    border: 1px solid #EBEBF033;
    width: 288px;
    height: 163.8px;
    margin-top: 10px;
}

.card-info-mobile {
    display: none;
    color: #FFFFFF;
    padding: 29.5px 50px;
    border: 1px solid #EBEBF033;
    width: 288px;
    margin-top: 10px;
}


.text-card-info {
    line-height: 160%;
    max-width: 288px;
}

/* Scheme-work */

.scheme-work {
    margin-bottom: 150px;
}


.title-scheme-work {
    position: relative;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}


.title-scheme-work::after {
    content: '';
    position: absolute;
    left: 0;
    top: -15px;
    width: 150px;
    height: 2px;
    background-color: #5C8EE5;
}

.cards-scheme-work {
    display: flex;
    gap: 30px;
    align-items: flex-start;

}

.card-scheme {
    width: 330px;
}

.title-card-scheme {
    position: relative;
    font-size: 48px;
    color: #5C8EE5;
    margin-bottom: 30px;
}

.title-card-scheme::after {
    content: '';
    position: absolute;
    top: 36px;
    left: 65px;
    width: 260px;
    height: 1px;
    background-color: #EBEBF0;
}

.desc-card-scheme {
    font-size: 28px;
    margin-bottom: 10px;
    max-width: 300px;
}

.subtitle-card-scheme {
    color: #828A99;
    margin-bottom: 20px;
}

#openModal {
    position: relative;
    color: #5C8EE5;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    margin-left: 45px;
}


#openModal::after {
    content: '';
    position: absolute;
    left: 0;
    top: 11.5px;
    left: -47px;
    width: 40px;
    height: 1px;
    background-color: #5C8EE5;
}


.modal {
    display: none;
    /* Скрываем модальное окно по умолчанию */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    /* Полная ширина */
    height: 100%;
    /* Полная высота */
    overflow-y: hidden;
    /* Позволяет прокрутку, если нужно */
    background-color: rgb(0, 0, 0);
    /* Фон с черным цветом */
    background-color: rgba(0, 0, 0, 0.4);
    /* Полупрозрачный черный фон */
}

.title-modal {
    font-size: 43px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.subtitle-modal {
    color: #828A99;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    line-height: 160%;
    margin-bottom: 30px;
}

.modal-content {
    background-color: #ffffff;
    margin: 4% auto;
    /* 15% сверху и центр по горизонтали */
    padding: 30px 50px;
    border: 1px solid #888;
    width: 460px;
    min-height: 447px;
    /* Ширина модального окна */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.close {
    color: #aaa;
    float: right;
    border: 1px solid #EBEBF0;
    padding-bottom: 5px;
    padding-right: 13px;
    padding-left: 13px;
    font-size: 28px;
    font-weight: bold;
    margin-top: 5px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 20px 20px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-name {
    font-family: 'Noto Sans', sans-serif;
}

#phone {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
}

#phone::placeholder {
    color: #292D33;
}

.btn-modal {
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 24px;
    padding: 20px 109.5px;
    background-color: #5C8EE5;
}

button[type="submit"] {
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.desc-modal {
    position: relative;
    color: #828A99;
    padding-left: 20px;
    font-size: 14px;

}

.desc-modal::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    top: 5px;
    left: 3px;
    background-image: url(/images/main/cooperation/security.svg);
    background-repeat: no-repeat;
}

.close {}

.img-model {
    width: 360px;
    height: 300px;
    margin-bottom: 30px
}

.thank-modal-title {
    font-size: 41px;
    margin-bottom: 20px;
}

.thank-modal-subtitle {
    font-size: 16px;
    color: #828A99;
    margin-bottom: 30px;
}

#returnHome {
    font-family: 'Noto Sans', sans-serif;
    color: #FFFFFF;
    padding: 20px 90px;
    background-color: #5C8EE5;
}


/* Manufacturing */

.manufacturing {
    margin-bottom: 150px;
}

.container-1440 {}

.content-manufacturing {}

.title-manufacturing {
    position: relative;
    font-size: 50px;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.title-manufacturing::after {
    content: '';
    position: absolute;
    left: 0;
    top: -15px;
    width: 150px;
    height: 2px;
    background-color: #5C8EE5;
}


.cards-manufacturing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card-manufactur-avto-top,
.card-manufactur-bit-top,
.card-manufactur-dezinfect-top,
.card-manufactur-avto-bottom,
.card-manufactur-bit-bottom,
.card-manufactur-dezinfect-bottom {
    position: relative;
    width: 480px;
    border: 1px solid #EBEBF0;
    padding: 40px 116px 250px 50px;
    transition: 0.4s linear;
}

.card-manufactur-avto-top:hover,
.card-manufactur-bit-top:hover,
.card-manufactur-dezinfect-top:hover,
.card-manufactur-avto-bottom:hover,
.card-manufactur-bit-bottom:hover,
.card-manufactur-dezinfect-bottom:hover {
    border: 1px solid #5C8EE5;
}

.card-manufactur-avto-top::after {
    content: '';
    position: absolute;
    width: 480px;
    height: 300px;
    left: -2px;
    top: 267.5px;
    background-image: url(/images/main/сontract-manufacturing/avto-him.png);
}

.card-manufactur-bit-top::after {
    content: '';
    position: absolute;
    width: 480px;
    height: 300px;
    left: -2px;
    top: 267.5px;
    background-image: url(/images/main/сontract-manufacturing/bit-him.png);
}

.card-manufactur-dezinfect-top::after {
    content: '';
    position: absolute;
    width: 480px;
    height: 300px;
    left: -2px;
    top: 267.5px;
    background-image: url(/images/main/сontract-manufacturing/dezinfect.png);
}


.card-manufactur-avto-bottom::after {
    content: '';
    position: absolute;
    width: 480px;
    height: 300px;
    left: -2px;
    top: 267.5px;
    background-image: url(/images/main/сontract-manufacturing/avto-him.png);
}

.card-manufactur-bit-bottom::after {
    content: '';
    position: absolute;
    width: 480px;
    height: 300px;
    left: -2px;
    top: 267.5px;
    background-image: url(/images/main/сontract-manufacturing/bit-him.png);
}

.card-manufactur-dezinfect-bottom::after {
    content: '';
    position: absolute;
    width: 480px;
    height: 300px;
    left: -2px;
    top: 267.5px;
    background-image: url(/images/main/сontract-manufacturing/dezinfect.png);
}



.title-card-manufactur {
    font-size: 28px;
    line-height: 160%;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 10px;
    width: 402px;
    transition: 0.35s linear;
}

.title-card-manufactur:hover {
    color: #5C8EE5;
}

.title-card-manufactur-bit {
    font-size: 28px;
    line-height: 160%;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 10px;
    width: 314px;
    color: #5C8EE5;
}

.subtitle-card-manufactur {
    color: #828A99;
    line-height: 160%;
    margin-bottom: 120px;
    width: 310px;
}

.manufactur-img {
    width: 480px;
    height: 300px;
}

/* Trademarks */

.trade-marks {
    margin-bottom: 150px;
}

.title-trademarks {
    position: relative;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.title-trademarks::after {
    content: '';
    position: absolute;
    left: 0;
    top: -14px;
    width: 150px;
    height: 2px;
    background-color: #5C8EE5;
}

.cards-trademarks {
    display: flex;
}

.card-marks,
.card-marks-blue {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 50px;
    border: 1px solid #EBEBF0;
    width: 720px;
    transition: 0.4s linear;
}

.card-marks-blue:hover {
    border: 1px solid #5C8EE5;
}

.card-marks-img {
    width: 120px;
    height: 120px;
}


.title-card-marks {
    font-size: 28px;
    line-height: 160%;
    padding-bottom: 10px;
}

.title-card-marks-blue:hover {
    color: #5C8EE5;
}

.title-card-marks-blue {
    font-size: 28px;
    line-height: 160%;
    transition: 0.3s linear;
    padding-bottom: 10px;
}

.subtitle-card-marks {
    color: #828A99;
}

/* Client */

.client {
    margin-bottom: 150px;
}

.content-client {
    display: flex;
    gap: 50px;

}

.client-title {
    position: relative;
    font-size: 50px;
    line-height: 120%;
    max-width: 480px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.client-title::after {
    content: '';
    position: absolute;
    left: 0;
    top: -14px;
    width: 150px;
    height: 2px;
    background-color: #5C8EE5;
}

.subtitle-client {
    line-height: 160%;
    color: #828A99;
    margin-bottom: 15px;
}

.subtitle-client-two {
    line-height: 160%;
    color: #828A99;
    margin-bottom: 30px;
}


.client-btn {
    position: relative;
    color: #5C8EE5;
    font-weight: 600;
    margin-left: 50px;
}

.client-btn::after {
    content: '';
    position: absolute;
    left: -50px;
    top: 10.5px;
    width: 40px;
    height: 1px;
    background-color: #5C8EE5;
}

.client-main-img {
    width: 740px;
    height: 500px;
}

/* Product */

.product {
    margin-bottom: 150px;
}

.content-card {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.cards-product {
    display: flex;
    gap: 50px;
}

.title-product {
    position: relative;
    font-size: 50px;
    margin-bottom: 38px;
    max-width: 800px;
    line-height: 120%;
    text-transform: uppercase;
}

.title-product::after {
    content: '';
    position: absolute;
    left: 0;
    top: -15px;
    width: 150px;
    height: 2px;
    background-color: #5C8EE5;
}

.burgerking-cards {
    display: grid;
    margin-top: -160px;
    grid-template-columns: 1fr 1fr 1fr;
}

.card-king {
    border: 1px solid #EBEBF0;
    width: 240px;
    padding: 45px 85px;
}

.cards-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/* Blog */


/* .content-blog {}

.title-blog {
    position: relative;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.title-blog::after {
    content: '';
    position: absolute;
    left: 0;
    top: -15px;
    width: 150px;
    height: 2px;
    background-color: #5C8EE5;
}

.cards-blogs {
    display: flex;
    gap: 30px;
    margin-bottom: 47px;
}

.card__blog {
    background-image: url(/images/main/blog/blog-1.png);
    width: 705px;
    height: 400px;
    padding: 238px 50px 50px 50px;
    background-repeat: no-repeat;
}

.card__blog-two {
    background-image: url(/images/main/blog/blog-2.png);
    width: 705px;
    height: 400px;
    padding: 272px 50px 50px 50px;
    background-repeat: no-repeat;
}

.title-card-blog {
    color: #FFFFFF;
    font-size: 28px;
    font-family: 'Noto Sans', sans-serif;
    line-height: 120%;
    padding-bottom: 10px;
}

.subtitle-card-blog {
    font-size: 15px;
    line-height: 160%;
    color: #FFFFFF;
} */

.blog {
    margin-bottom: 170px;
}


.btn-blog {
    position: relative;
    font-weight: 600;
    margin-left: 50px;
    color: #5C8EE5;
}

.btn-blog::after {
    content: '';
    position: absolute;
    left: -50px;
    top: 10.5px;
    width: 40px;
    height: 1px;
    background-color: #5C8EE5;
}


.img-slider {
    width: 705px;
}

.slider-btn {
    background-color: #5C8EE5;
    width: 70px;
    height: 50px;
    padding-top: 7.5px;
    margin-left: -5px;
    border: none;
}

.btns__slider {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.btns-slider-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Cooperation */

.cooperation {
    position: relative;
    background-color: #F0F2F5;
}

.cooperation::after {
    content: '';
    position: absolute;
    width: 720px;
    height: 626px;
    top: -57px;
    left: 0px;
    background-image: url(/images/main/cooperation/cooperation.png);
}

.content-cooperation {
    padding: 100px 240px 112px 820px;
}

.title-cooperation {
    font-size: 50px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.subtitle-cooperation {
    color: #828A99;
    line-height: 160%;
    max-width: 640px;
    padding-bottom: 42px;
}

.cooperation-img {
    width: 720px;
    height: 626px;
}

.cooperation-form {
    padding-bottom: 30px;
    display: flex;
    gap: 30px;
}

.name-cooperation {
    border: 1px solid #E4E4EB;
    padding: 20px 260px 20px 30px;
    font-family: 'Noto Sans', sans-serif;
}

.number-cooperation {
    border: 1px solid #E4E4EB;
    padding: 20px 260px 20px 30px;
}

.number-cooperation::placeholder {
    color: #292D33;
}

.bottom-content-cooperation {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.btn-cooperation {
    padding: 20px 50px;
    background-color: #5C8EE5;
    margin-right: 40px;
    color: #E4E4EB;
    font-size: 14px;
    font-weight: 700;
}

.desc-cooperation {
    position: relative;
    font-size: 12px;
    color: #828A99;
    max-width: 379px;
    margin-top: 11px;
}

.desc-cooperation::after {
    content: '';
    position: absolute;
    width: 11px;
    height: 12px;
    top: 2px;
    left: -14px;
    background-image: url(/images/main/cooperation/security.svg);
}

/* Footer Top */

.footer {
    position: relative;
    margin-top: 100px;

}

.footer::after {
    content: '';
    position: absolute;
    width: 100%;
    border: 1px solid #EBEBF0;
    top: 75px;
    left: 0;
}

.footer::before {
    content: '';
    position: absolute;
    width: 100%;
    border: 1px solid #EBEBF0;
    top: 335px;
    left: 0;
}



.footer-list-top {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: -30px;
}

.footer-content-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 136px;
    margin-bottom: 107px;
}

.footer-nav {
    display: flex;
    align-items: center;

}


.footer-nav-link-number {
    font-size: 32px;
}

.footer-nav-link-city {
    position: relative;
}

.footer-nav-link-city::after {
    content: '';
    position: absolute;
    top: 5px;
    left: -18px;
    width: 12px;
    height: 16px;
    background-image: url(/images/main/footer/geo.svg);
    background-repeat: no-repeat;
}

.social-footer {
    margin-top: -15px;
    display: flex;
    gap: 15px;
    margin-left: 57px;
}


.footer-nav-link-mail {
    position: relative;
}

.footer-nav-link-mail::after {
    content: '';
    position: absolute;
    top: 8px;
    left: -23px;
    width: 18px;
    height: 16px;
    background-image: url(/images/main/footer/mail.svg);
    background-repeat: no-repeat;
}


.social-img-vk {
    width: 19px;
    height: 12px;
}

.social-img-instagram {
    width: 16px;
    height: 16px;
    margin-top: -2px;
}

/* Footer Bottom */

.footer-bottom-content {
    display: flex;
    gap: 130px;
    align-items: center;
    justify-content: center;
    margin-bottom: 71px;
}

.footer-list-bottom {}

.title-footer-bottom {
    font-weight: 600;
    margin-bottom: 30px;
    font-family: 'Noto Sans', sans-serif;
}

.footer-link-bottom {
    color: #828A99;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 15px;
}

/* Footer copy */

.footer-copy {
    margin-bottom: 20px;
}

.footer-content-copy {
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
}

.footer-copy-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.copy {
    font-size: 14px;
    color: #828A99;
}

.privacy-policy {
    position: relative;
    font-size: 14px;
    color: #828A99;
}

.privacy-policy::before {
    content: '';
    position: absolute;
    top: 17px;
    left: 0;
    width: 100%;
    border: 1px solid #828A99;
}

.made-in {
    position: relative;
    font-size: 14px;
    color: #828A99;
}

.made-in::before {
    content: '';
    position: absolute;
    width: 52px;
    height: 11px;
    top: 6px;
    left: 80px;
    background-image: url(/images/main/footer/made-in-logo.svg);
}

